<div class="section" id="carousel">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
                        <h3 class="title">The Carousel</h3>
						<!-- Carousel Card -->
						<div class="card card-raised card-carousel">
							<div id="carousel-okabrionz" class="carousel slide" data-ride="carousel">
								<div class="carousel slide" data-ride="carousel">

									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#carousel-okabrionz" data-slide-to="0" class="active"></li>
										<li data-target="#carousel-okabrionz" data-slide-to="1"></li>
										<li data-target="#carousel-okabrionz" data-slide-to="2"></li>
									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active header-filter">
											<img src="https://source.unsplash.com/user/okabrionz/likes/1366x768" alt="Oka bRionZ Blog">
											<div class="carousel-caption">
												<h4><i class="material-icons">camera_alt</i> I Liked on Unsplash</h4>
											</div>
										</div>
										<div class="item header-filter">
											<img src="https://source.unsplash.com/random/1366x768" alt="Oka bRionZ Blog">
											<div class="carousel-caption">
												<h4><i class="material-icons">camera_alt</i> Random Pick</h4>
											</div>
										</div>
										<div class="item header-filter">
											<img src="https://source.unsplash.com/user/jamesdouglas/1366x768" alt="Oka bRionZ Blog">
											<div class="carousel-caption">
												<h4><i class="material-icons">camera_alt</i> James Douglas Random</h4>
											</div>
										</div>
									</div>

									<!-- Controls -->
									<a class="left carousel-control" href="#carousel-okabrionz" data-slide="prev">
										<i class="material-icons">keyboard_arrow_left</i>
									</a>
									<a class="right carousel-control" href="#carousel-okabrionz" data-slide="next">
										<i class="material-icons">keyboard_arrow_right</i>
									</a>
								</div>
							</div>
						</div>
						<!-- End Carousel Card -->

					</div>
				</div>
			</div>
		</div>