	    <footer class="footer">
	        <div class="container">
	            <nav class="pull-left">
	                <ul>
	                    <li>
	                        <a href="https://www.okabrionz.com">
	                            Oka bRionZ
	                        </a>
	                    </li>
	                    <li>
	                        <a href="/post">
	                           Post
	                        </a>
                        </li>
                        <li>
	                        <a href="/about">
	                           About
	                        </a>
	                    </li>
	                    <li>
	                        <a href="/contact">
	                            Contact
	                        </a>
	                    </li>
	                </ul>
	            </nav>
	            <div class="copyright pull-right">
	                &copy; 2017 - Made with <i class="fa fa-heart heart text-danger"></i> in Bandung by <a href="https://www.okabrionz.com/"> Oka bRionZ</a>
	            </div>
	        </div>
	    </footer>

	</div>
</body>

	<!--   Core JS Files   -->
	<script async src="/assets/js/jquery.min.js" type="text/javascript"></script>
	<script async src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script async src="/assets/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script async src="/assets/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script async src="/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script async src="/assets/js/material-kit.js" type="text/javascript"></script>
    

</html>