{{ partial "head" . }}

{{ partial "nav" . }}

    <header class="masthead" style="background-image: url('/img/bgury.svg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="page-heading">
                        <h1>Contact Me</h1>
                        <hr class="small">
                        <span class="subheading">Have questions? I have answers (maybe).</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
